<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white p-8 shadow-md rounded-lg w-[350px]">
    <h2 class="text-2xl font-semibold mb-4">Register</h2>
    <form (submit)="onSubmit()" [formGroup]="registryForm">
      <div class="mb-4">
        <label for="username" class="block text-sm font-medium text-gray-600"
          >Username</label
        >
        <input
          type="text"
          id="username"
          name="username"
          class="mt-1 p-2 w-full border rounded-md"
          formControlName="username"
        />
      </div>
      <div class="mb-4">
        <label for="email" class="block text-sm font-medium text-gray-600"
          >Email</label
        >
        <input
          type="text"
          id="email"
          name="email"
          class="mt-1 p-2 w-full border rounded-md"
          formControlName="email"
          [ngClass]="{
            'border-pink-500': fc.email.touched && fc.email.errors,
            'border-green-500': fc.email.valid
          }"
        />
        <div class="text-sm flex flex-col gap-1" *ngIf="fc.email.touched">
          <span class="text-red-500" *ngIf="fc.email.errors?.['required']">
            <span class="text-xs">❌ </span>Email is required
          </span>
          <span class="text-red-500" *ngIf="fc.email.errors?.['email']">
            <span class="text-xs">❌ </span> Invalid email
          </span>
        </div>
      </div>
      <div class="mb-4">
        <label for="password" class="block text-sm font-medium text-gray-600"
          >Password</label
        >
        <input
          type="password"
          id="password"
          name="password"
          class="mt-1 p-2 w-full border rounded-md"
          [ngClass]="{
            'border-pink-500': fc.password.touched && fc.password.errors,
            'border-green-500': fc.password.valid
          }"
          formControlName="password"
        />
        <div class="text-sm flex flex-col gap-1" *ngIf="fc.password.touched">
          <span class="text-red-500" *ngIf="fc.password.errors?.['required']">
            <span class="text-xs">❌ </span>Password is required
          </span>
          <span class="text-red-500" *ngIf="fc.password.errors?.['minlength']">
            <span class="text-xs">❌ </span> Must be at least 6 characters
          </span>
        </div>
      </div>
      <div class="mb-4">
        <label
          for="confirmPassword"
          class="block text-sm font-medium text-gray-600"
          >Confirm Password</label
        >
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          class="mt-1 p-2 w-full border rounded-md"
          formControlName="confirmPassword"
        />
        <div
          class="text-sm flex flex-col gap-1"
          *ngIf="fc.confirmPassword.touched"
        >
          <span
            class="text-red-500"
            *ngIf="fc.confirmPassword.errors?.['required']"
          >
            <span class="text-xs">❌ </span> Please confirm your password
          </span>
          <span
            class="text-red-500"
            *ngIf="fc.confirmPassword.errors?.['mismatch']"
          >
            <span class="text-xs">❌ </span> Passwords doesn't match
          </span>
        </div>
      </div>

      <div class="mb-4">
        <label for="role" class="block text-sm font-medium text-gray-600">
          Role
        </label>
        <select
          id="role"
          name="role"
          autocomplete="role-name"
          class="block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
          formControlName="roleId"
        >
          <option *ngFor="let role of roles" [value]="role.id">
            {{ role?.Name }}
          </option>
        </select>
        <div
          class="text-sm flex flex-col gap-1"
          *ngIf="fc.confirmPassword.touched"
        >
          <span
            class="text-red-500"
            *ngIf="fc.confirmPassword.errors?.['required']"
          >
            <span class="text-xs">❌ </span> Please choose a role
          </span>
        </div>
      </div>

      <div class="mb-4">
        <span
          >Already have account?, go to
          <a [routerLink]="'/auth/login'" class="text-blue-500"
            >login page</a
          ></span
        >
      </div>

      <button
        type="submit"
        class="w-full bg-blue-500 text-white p-2 rounded-md enabled:hover:bg-blue-600 disabled:opacity-50"
        [disabled]="form.touched && form.disabled"
      >
        Register
      </button>
    </form>
  </div>
</div>
